<%=render 'users/profile'%>
<!-- User stats -->
<div class="user-stats">
  <div class="stat-stack">
    <div class="stack-number">
      <p><%=user.comments.count%></p>
    </div>
    <div class="stack-cat">
      <p>comments</p>
    </div>
  </div>
  <div class="stat-stack">
    <div class="stack-number">
      <p><%=user.favorites.count%></p>
    </div>
    <div class="stack-cat">
      <p>likes</p>
    </div>
  </div>
  <div class="stat-stack">
    <div class="stack-number">
      <p><%=user.favorites.count%></p>
    </div>
    <div class="stack-cat">
      <p>Tatstagrams</p>
    </div>
  </div>
</div>