<%=render :partial => 'users/profile', :locals => {:user => user}%>
<%unless @iphoto%>
  <!-- User stats -->
  <div class="user-stats">
    <div class="stat-stack">
      <div class="stack-number">
        <p><%=link_to user.comments.count, "/users/#{user.id}/photos/commented"%></p>
      </div>
      <div class="stack-cat">
        <p>comments</p>
      </div>
    </div>
    <div class="stat-stack">
      <div class="stack-number">
        <p><%=link_to user.favorites.count, "/users/#{user.id}/photos/likes"%></p>
      </div>
      <div class="stack-cat">
        <p>likes</p>
      </div>
    </div>
    <div class="stat-stack">
      <div class="stack-number">
        <p><%=link_to Iphoto.by_username(user.name).listed.count, user_path(user)%></p>
      </div>
      <div class="stack-cat">
        <p>photos</p>
      </div>
    </div>
  </div>
<%end%>