<!-- TERMS OF USE / PRIVACY POLICY -->

  <div id="legal">

<h1>Terms of Use</h1>
<h2>PREAMBLE</h2>
<p>
Vagabond Digital, a Canadian incorporation, whose commercial register under number 000 000 000 (hereafter known as
<b>“Vagabond Digital”</b>
) operates the website hosted at www.tatstagr.am, (hereafter known as the
<b>“Site”</b>
).
</p>
<p>
You may use the Site if you are an individual for your personal, non commercial use. Such individual is referred to herein as the
<b>“Visitor”</b>
.
</p>
<p>
You may use the Site if you represent a commercial entity (company, organization, association).
</p>

<p>The term “User” refers to Visitor collectively.</p>
<p>
Please carefully read these terms of use (hereafter known as the
<b>"Terms of Use Vagabond Digital Site"</b>
). If you refuse to be bound by these Terms of Use Vagabond Digital Site, you must leave the Site.
</p>
<h2>1. ACCEPTANCE OF TERMS OF USE</h2>
<p>By using the Site, you expressly agree to be bound by these Terms of Use Vagabond Digital Site, in their entirety and without exception, whether you are a User or an Organizer. </p>
<p>These Terms of Use Vagabond Digital Site constitute the entirety of the agreement between the User and Vagabond Digital in respect to the use of the Site. </p>
</ul>
<h2>2. PURPOSE</h2>
<p>These Terms of Use Vagabond Digital Site are intended to define the terms and conditions under which User and Organizer agree to use the Site.</p>
<h2>3. MODIFICATION OF TERMS OF USE</h2>
<p>Vagabond Digital reserves the right to modify or to amend these Terms of Use Vagabond Digital Site, at any time, without giving the User/Organizer any prior notice. Such modifications shall be effective immediately upon posting of the modification on the Site. </p>
<p>The actual Terms of Use Vagabond Digital Site will always be published on the Site.</p>
<p>The User’s/Organizer’s continued use of the Site after Vagabond Digital has posted an updated version of the Terms of Use Vagabond Digital Site implies the User’s/Organizer’s consent to the Terms of Use as modified or amended. </p>
<p>Consequently, it is important that the User/Organizer regularly reads these Terms of Use Vagabond Digital Site to ensure that they are fully aware of any changes that may be made to them.</p>
<h2>4. ACCOUNT CREATION</h2>
<p>
Before using the Site, the User/Organizer has to create an account on the Site (hereafter known as the
<b>“Account”</b>
). The creation of the Account includes a username and a password (hereafter known as the
<b>“Login Details”</b>
) to access the User’s/Organizer’s platform.
</p>
<p>To create an Account, the User/Organizer shall also indicate its time zone (GMT) and its e-mail address. </p>
<p>The User/Organizer is fully liable for keeping the Login Details secret. The User/Organizer agrees not to use the Account or the Login Details of another person at any time, nor to disclose his Login Details to a third party. </p>
<p>The User/Organizer is solely liable for any use of his Account by himself or by any third party. Vagabond Digital cannot be held liable for any misuse or fraudulent use of the User’s/Organizer’s Login Details.</p>
<h2>5. AUTHORITY</h2>
<p>By using the Site, the User/Organizer warrants and guarantees that: (i) any information he provides when subscribing to the Site is true and correct, and (ii) User/Organizer use of the Site does not contravene any laws or regulations in force.</p>
<h2>6. TECHNICAL CONFIGURATION</h2>
<p>By using the Site, the User/Organizer acknowledges having the technical resources and abilities required for accessing to the Site.</p>
<h3>7.2 Reimbursement of internet connection</h3>
<h2>8. USER CONTENT</h2>
<p>
On some part of the Site, the User may be allowed to post, to share, to transmit, to make available, to download photos (hereafter referred as to
<b>“Publish”</b>
) or to provide comments for others to see (collectively, hereafter referred as the
<b>“Content”</b>
). In other part of the Site, the User may be allowed to download photos. Such photos are referred to herein as
<b>“Content”</b>
.
</p>
<p>If the User Publishes the Content, the User guarantees, represents and warrants to Vagabond Digital that:</p>
<ul>
<li>The User has legal rights to Publish such Content and he will not violate any law or the rights of any person; </li>
<li>The User is entirely liable for all Contents that the User Publishes by and/or through the Site.</li>
</ul>
<br>
<p>
<b>FOR ALL CONTENT, INCLUDING ALL INFORMATION AND MATERIALS OF ANY KIND, INCLUDING GRAPHICS, SOUNDS, TEXT, OR OTHERWISE PUBLISHED OR PROVIDED BY ANY USER ON THE SITE, THE USER/ORGANIZER UNDERSTANDS THAT Vagabond Digital IS NOT LIABLE FOR THE TRUTH, COMPLETENESS, OBJECTIVITY OR USEFULNESS OF SUCH CONTENT. </b>
</p>
<p>
<b>THE USER EXPRESSLY AGREES THAT (I) Vagabond Digital DO NOT ENDORSE ANY CONTENT, (II) Vagabond Digital DO NOT VERIFY THE IDENTITY OF PEOPLE USING THE SITE, (III) AND Vagabond Digital DO NOT SCREEN, MONITOR, EDIT OR REVIEW ANY CONTENT AT ANY TIME. </b>
</p>
<p>Vagabond Digital can also suspend or terminate use of the Site by anyone who does not follow these Terms of User Vagabond Digital Site. </p>
<p>Nevertheless, because Vagabond Digital do not prescreen Content, the User understands that by using the Site, the User may be exposed to Content that is offensive or objectionable.</p>
<p>The User may remove his Content from the Site at any time. If the User chooses to remove his Content, the Licence (as defined below) will automatically expire. Notwithstanding the expiration of the License, the User permits Vagabond Digital to keep copies of the removed Content. Vagabond Digital claims no right of title to the Content.</p>
<h2>9. CONTENT SHARING AND CONFIDENTIALITY</h2>
<h3>12.1 Comments sharing</h3>
<p>Some of the Site’s functions make it possible to share comments. Since these are public areas, please do not forget that any information disclosed becomes public information.</p>
<p>That is why the User should be extremely cautious when disclosing his personal information. Vagabond Digital is not liable for uses made by others of the information provided by each User. </p>
<h2>10. GOOD USER CONDUCT</h2>
<p>The User guarantees Vagabond Digital that no photo or Content Published by him on or through the Site infringes any User rights, any third party rights and any applicable law and regulation in force. </p>
<p>The User/Organizer agrees not to use the Site to:</p>
<ul>
<li>extract or collect e-mail addresses or other information on other Users of the Site by any means, electronic or other, for the purpose of sending out unsolicited e-mails or other communications;</li>
<li>use the Site unlawfully or under conditions that could damage, deactivate, overload or alter the Site Tool;</li>
<li>
publish on the Site any content or any photo (
<b>i</b>
) that do not meet the conditions set forth in the Terms of Use Vagabond Digital Site; (
<b>ii</b>
) that do not comply with the Site policies; (
<b>iii</b>
) that is pornographic, racist, anti-Semitic, discriminatory, paedophiliac, racial, vulgar, obscene, fraudulent, illegal, injurious, defamatory, (
<b>iv</b>
) that encourages violence or criminal acts, (
<b>v</b>
) that infringes third party rights or violate local, domestic or international laws or regulations, (
<b>vi</b>
) that shows dead animals or people, blood or blood imitation, or similar contents, (
<b>vii</b>
) or that is in any other way reprehensible as determined in the sole and absolute discretion of Vagabond Digital.
</li>
<li>Publish photos that are not exclusively private photos originally created by the Users; </li>
<li>usurp the identity of another person or entity or falsify or conceal his identity, age or affiliation with a person or entity;</li>
<li>Publish any personal data on a User or third party such as addresses, telephone numbers, e-mail addresses or bank card numbers;</li>
<li>Publish any Content or element containing computer viruses or any computer code, file or program designed to prevent, destroy or limit the functionality of software, computer equipment or telecommunications;</li>
<li>Publish information that could cause or create a risk of breaching the confidentiality of any person or entity or harm to any person or entity;</li>
<li>make or encourage unlawful or unauthorized copies of Users or third party photos protected by copyright ;</li>
<li>carry out commercial and/or sales activities without the prior written consent of Vagabond Digital.</li>
</ul>
<h2>11. INTELLECTUAL PROPERTY</h2>
<h3>11.1 Use of documents made available by Vagabond Digital on the Site</h3>
<p>
Including without limitation, all information, Content, file images, software, logos, icons, texts, trademarks and materials made available to the User/Organizer (hereafter known as the
<b>“Documents”</b>
) are protected by intellectual and industrial property rights and belong to Vagabond Digital and/or its assigns.
</p>
<p>Vagabond Digital grants no license or authorization to any User/Organizer to exploit the Documents made available to him/her on the Site and protected by copyright or any other intellectual property right.</p>
<p>Furthermore, none of the Documents may be copied, reproduced, distributed, republished, downloaded, displayed, disseminated or transmitted in any form whatsoever or by any means whatsoever, including, without limitation, electronic or mechanical means, photocopying or recording, without the prior written authorization of Vagabond Digital or of the holder of the rights. The User/Organizer shall bear the consequences of any fraudulent use of the Documents, and in particular any convictions and expenses resulting from claims brought by third parties. </p>
<h3>11.2 Copyright relating to the Content</h3>
<p>The Site  have functions that enable the User to Publish the Content on the Site for public presentation. Vagabond Digital does not claim copyright over elements of the Content.</p>
<p>
However, in order to make the Content available on the Site, the User grants to Vagabond Digital a permanent, non-exclusive, worldwide, non-cancellable, irrevocable and perpetual license (hereafter referred as the
<b>“Licence”</b>
) to utilize, reproduce, create works derived from the Content, distribute, execute in public, share, utilise the Content in any other way and Publish the Content in any media now or hereafter known, in order to promote the Site.
</p>
<p>
By submitting Content to the Site, the User declares to and guarantees Vagabond Digital that (
<b>i</b>
) he/she owns each Content Published on the Site or an irrevocable, perpetual, transferable and non-exclusive Licence to use, reproduce and distribute the Content, (
<b>ii</b>
) no Content Published on the Site infringes any third party’s intellectual property rights, copyrights, trademarks, moral rights, rights of privacy/publicity or personal rights, and (
<b>iii</b>
) no other person or entity has any right, title, claim or interest in this Content.
</p>
<p>The User undertakes to indemnify Vagabond Digital against any third-party action invoking a violation of their rights.</p>
<p>The User guarantees Vagabond Digital that he has the written consent, release and/or permission of each and every identifiable individual in the Content to use the name or likeness of each and every such identifiable individual to enable inclusion and use of the Content in the manner contemplated by the Site and these Terms of User Vagabond Digital Site.</p>
<h3>12.3 Violation of intellectual property rights</h3>
<p>If the User believes that his/her copyright has been violated or that Content prohibited in any way is available through the Site, he/she shall contact Vagabond Digital’s representative as soon as he/she becomes aware of it in order to present a notice of claim or of violation of copyright. </p>
<p>
All correspondence shall be sent to the Vagabond Digital representative at the following e-mail address:
<a href="mailto:contact@tatstagr.am">contact@tatstagr.am</a>
</p>
<p>In all cases, the User shall provide the following information to the representative:</p>
<ul>
<li>The URL or detailed identification of the offending Content on the Site;</li>
<li>The User’s personal information and e-mail address;</li>
<li>A declaration on honour in which the User declares that the use is not authorized by the owner, his/her representative or by law, and evidence of the unlawful nature of the Content;</li>
<li>Any information that may help Vagabond Digital determine that intellectual property rights are being violated.</li>
</ul>
<p>The User may contact Vagabond Digital in the case of complaints relating to distributed Content that he/she assumes to be an infringement. Upon receiving the complaint, Vagabond Digital may delete the Content or deactivate access to it. If Vagabond Digital believes in good faith that the distributed Content violates any applicable law, it will delete or deactivate access to this Content and will notify the distributing party that the Content has been blocked or deleted. In addition, Vagabond Digital may terminate the Account of the User who appears to be the one who put the prohibited Content online.</p>
<h2>12. COMPLIANCE WITH LAW </h2>
<p>The User/Organizer shall comply with all laws concerning any Content, product or download/upload associated with the Site and in particular with all applicable laws relating to the transmission of technical data through the services available from the Site.</p>
<h2>13. THIRD PARTY CONTENT</h2>
<p>
The Site contains links to other websites (hereafter referred as the
<b>“Third Party Sites”</b>
) as well as to articles, photo, text, images, information, applications, software and other contents or elements belonging to third parties or distributed by them (hereafter referred as the
<b>“Third Party Content"</b>
). It is specified in this respect that:
</p>
<ul>
<li>Except as otherwise prohibited in these Terms of Use Vagabond Digital Site, the uploading of links to a Third Party Site or Third Party Content is not subject to Vagabond Digital approval. </li>
<li>Vagabond Digital does not guarantee the accuracy of Third Party Sites or Third Party Content.</li>
<li>Vagabond Digital is not liable for Third Party Sites accessible from the Site, or Third Party Content Published, installed or made available on the Site.</li>
<li>Vagabond Digital is not liable for the contents, accuracy, offensive nature, opinions, reliability or practices relating to respect for privacy and other practices of Third Party Sites or Third Pary Content.</li>
<li>Accessing Third Party Sites from the Site, or using Third Party Content, is done at your own risk and expense. </li>
</ul>
<h2>14. COOKIES </h2>
<p>Cookies record certain kinds of information stored on the User’s/Organizer’s hard disk. In no case do cookies contain confidential information.</p>
<p>
Browser settings make it possible to inform Users/Organizer of the presence of cookies and to refuse them in the manner described at the following address:
<a href="http://www.cnil.fr">http://www.cnil.fr</a>
.
</p>
<p>If the User/Organizer does not wish to activate cookies, Vagabond Digital is unable to guarantee the proper functioning of the Site. </p>
<h2>15. GUARANTEES </h2>
<p>
<b>THE USER/ORGANIZER ACKNOWLEDGES AND EXPRESSLY ACCEPTS THAT Vagabond Digital PERFORMS ITS CONTRACTUAL OBLIGATIONS WITH ALL POSSIBLE CARE CUSTOMARY FOR ITS PROFESSION AS PART OF A GENERAL OBLIGATION OF MEANS. AS THIS IS A COMPUTER SERVICE PROVIDED VIA THE INTERNET, THE USER/ORGANIZER IS INFORMED THAT, WITH CURRENT TECHNOLOGY, THE PROPER FUNCTIONING OF THE SITE DEPENDS ON FACTORS THAT ARE NOT ENTIRELY UNDER Vagabond Digital’S CONTROL.</b>
</p>
<p>
<b>Vagabond Digital IS NOT LIABLE FOR ANY ERRORS, OMISSIONS, INTERRUPTIONS, DELETIONS, DELAYS IN OPERATION OR TRANSMISSION, THEFTS OR DESTRUCTIONS OR UNAUTHORIZED ACCESSES, OR ANY ALTERATIONS OF COMMUNICATIONS WITH ANY USER/ORGANIZER. </b>
</p>
<p>
<b>DUE TO THE TECHNICAL UNCERTAINTIES OF THE INTERNET AND THE POLICIES OF TECHNICAL CONTRACTORS, Vagabond Digital RESERVES THE RIGHT TO TEMPORARILY SUSPEND THE USE OF THE SITE FOR TECHNICAL REASONS OR MAINTENANCE. SUCH SUSPENSION OF SERVICES DOES NOT CONFER ANY RIGHT TO COMPENSATION TO THE USER/ORGANIZER. Vagabond Digital SHALL USE ITS BEST EFFORTS TO LIMIT THESE INTERRUPTIONS. THE USER/ORGANIZER AGREES NOT TO HOLD Vagabond Digital LIABLE FOR ANY OF THE CONSEQUENCES OF SUCH SUSPENSION OR INTERRUPTION.</b>
</p>
<p>
<b>ALL MATERIALS DOWNLOADED OR OBTAINED IN ANY OTHER WAY DURING THE USE OF THE SITE ARE UNDER THE FULL AND COMPLETE LIABILITY OF THE USER/ORGANIZER. THE USER/ORGANIZER IS SOLELY LIABLE FOR ANY DAMAGE SUFFERED BY HIS/HER COMPUTER OR ANY LOSS OF DATA FOLLOWING THE DOWNLOADING OF THESE MATERIALS.</b>
</p>
<p>
<b>THE USER/ORGANIZER UNDERTAKES TO GUARANTEE AND INDEMNIFY Vagabond Digital (AND ITS SISTER COMPANIES OR AFFILIATES, ITS REPRESENTATIVES, ITS EMPLOYEES, ITS PARTNERS) AGAINST ANY DAMAGE, COMPLAINT OR DEMAND FROM THIRD PARTIES FOLLOWING (I) THE SENDING, DISTRIBUTION, USE OR TRANSMISSION OF CONTENT ON THE SITE, (II) USE OF THE SITE, (III) VIOLATION OF THE TERMS OF USER Vagabond Digital SITE, OR (IV) INFRINGEMENT OF OTHERS’ RIGHTS.</b>
</p>
<p>
<b>The User/Organizer undertakes to use the Site for purposes conforming to public order, to good morals and to third-party rights.</b>
</p>
<p>
<b>The User/Organizer undertakes not to disturb the use that other Users/Organizers might make of the Site, not to access third-party user accounts, and not to access those parts of the Site to which access is reserved.</b>
</p>
<p>
<b>The User/Organizer undertakes not to commit any act that may jeopardize Vagabond Digital’s computer security or that of other Users/Organizers.</b>
</p>
<p>
<b>The User/Organizer undertakes not to interfere or interrupt the Site’s normal operation. </b>
</p>
<p>
<b>The User/Organizer undertakes not to commit any act for commercial, political or publicity reasons, and any form of commercial solicitation and in particular the sending of unsolicited e-mails.</b>
</p>
<p>
<b>The User/Organizer undertakes not to collect, utilize or process any of the personal data of other Users/Organizers.</b>
</p>
<h2>16. INDEMNITIES</h2>
<p>
<b>THE USER SHALL INDEMNIFY, DEFEND AND PROTECT Vagabond Digital, ITS SHAREHOLDERS, AFFILIATES, EMPLOYEES, REPRESENTATIVES, ASSIGNS AND AGENTS AGAINST ANY TRIAL, LOSS, DISPUTE, CLAIM AND LIABILITY, FOR ALL COSTS (INCLUDING ATTORNEYS' FEES) THAT IT MAY BEAR OR CONTRACT IN THE WAKE OF (I) HIS/HER USE OF THE SITE OR OF ANY SOFTWARE AVAILABLE ON THE SITE OR DOWNLOADABLE FROM THE SITE, (II) ANY FAILURE TO COMPLY WITH APPLICABLE LAWS AND REGULATIONS, (III) ANY CONTENT PROVIDED ON THE SITE, (IV) ANY USE OF THE CONTENT AVAILABLE ON THE SITE OR THROUGH THE SITE, (V) ANY BREACH OF ONE OF THE GUARANTEES OR OBLIGATIONS INDICATED HEREIN, (VI) ANY LOSS SUFFERED BY ANY PERSON OR ASSET OR ANY PREJUDICE CAUSED TO ANY PERSON OR ASSET IN ANY WAY WHATSOEVER INVOLVING IN WHOLE OR IN PART THE USE OR CAUSED BY THE USE IN WHOLE OR IN PART OF THE SITE, PRODUCT OR DOWNLOAD ASSOCIATED WITH THE SITE.</b>
</p>
<h2>17. LIMITATION OF LIABILITY</h2>
<p>
<b>IN NO EVENT SHALL Vagabond Digital BE HELD LIABLE FOR ANY DAMAGE CAUSED TO THE USER/ORGANIZER, DIRECTLY OR INDIRECTLY, OR TO ANY THIRD PARTY THROUGH THE USER’S/ORGANIZER’S ACTION. </b>
</p>
<p>
<b>UNDER NO CIRCUMSTANCES MAY Vagabond Digital OR ITS DIRECTORS, OFFICERS, EMPLOYEES OR REPRESENTATIVES BE HELD LIABLE FOR ANY INDIRECT INCIDENTAL OR CONSEQUENTIAL DAMAGE, INCLUDING BUT NOT LIMITED TO ANY LOSS OF PROFITS, LOSS OF DATA OR LOSS OF BUSINESS OPPORTUNITIES RESULTING FROM THE USE OF THE SITE, ANY CONTENT OR OTHER ELEMENTS ACCESSIBLE FROM OR DOWNLOADED FROM THE SITE, EVEN IF Vagabond Digital WAS AWARE OF, OR HAD BEEN INFORMED OF THE POSSIBILITY OF THE OCCURRENCE OF SUCH DAMAGE.</b>
</p>
<h2>18. CANCELLATION</h2>
<p>
<b>Vagabond Digital RESERVES THE RIGHT, AT ANY TIME, AT ITS SOLE DISCRETION, (I) TO TERMINATE THE USER’S/ORGANIZER’S ONLINE ACCOUNT, (II) TO DELETE ANY CONTENT STORED ON ITS ACCOUNT OR ON THE SITE, (III) TO CANCEL THE USER’S/ORGANIZER’S LOGIN DETAILS , (V) TO SUSPEND OR TO INTERRUPT USER’S/ORGANIZER’S ACCESS TO ALL OR PART OF THE SITE, WITH OR WITHOUT PRIOR NOTICE OR EXPLANATION, AND WITHOUT INCURRING ANY LIABILITY IN THIS RESPECT. THE USER/ORGANIZER IS SOLELY LIABLE FOR THE CREATION OF BACKUP AND REPLACEMENT COPIES OF THE CONTENT PUBLISHED ON THE SITE AND Vagabond Digital SHALL NOT BE LIABLE FOR ANY COSTS ASSOCIATED THEREWITH.</b>
</p>
<h2>19. CORRECTION, UPDATE OR REMOVAL OF INFORMATION</h2>
<p>According to the “Information Technology and Freedoms” Law 78-17 of 6 January 1978, the User/Organizer has, at any time, the right to access personal information concerning him.</p>
<p>The User/Organizer has a right of access, modification, rectification and removal of data concerning him. The User/Organizer may therefore, at any time, modify or remove, fully or partially, his personal data, by connecting to his Account and accessing the “remove account” function. The User/Organizer can also modify or remove his personal data by sending an e-mail to contact@tatstagr.am.</p>
<p>The User/Organizer should include in any such communication his Login Details, a photocopy of his government issued photo identification, as well as details about the changes and/or removals he wishes to make.</p>
<h2>20. PRIVACY POLICY</h2>
<p>Vagabond Digital respects the privacy of its Users. Click here to display the Vagabond Digital Privacy Policy. By using the Site, you accept that your personal data may be transferred to and processed in other countries. </p>
<h2>21. SEVERABILITY</h2>
<p>If one of the stipulations of these Terms of Use Vagabond Digital Site is void, non-enforceable or becomes null and void, this shall not affect the other stipulations, which shall remain in full force and effect.</p>
<h2>22. DISPUTES</h2>
<p>These Terms of Use Vagabond Digital Site shall be governed by, and construed in accordance with, French Law. </p>
<p>Any dispute arising from, or in connection with, these Terms of Use Vagabond Digital Site, shall be submitted to the exclusive jurisdiction of the Canadian courts. </p>
    
    
<br><br>    

<h1>Privacy Policy</h1>
<br>
<h2>1. ACCEPTANCE OF THE PRIVACY POLICY</h2>
<p>The Terms of Use Vagabond Digital Site are incorporated herein by reference. By using the Site you agree to be bound by the Terms of Use Vagabond Digital Site, whether you are a User or an Organizer.</p>
<p>Capitalized terms hereunder shall be defined under the Terms of Use Vagabond Digital Site.</p>
<h2>2. COLLECTION OF INFORMATION AND USE BY Vagabond Digital</h2>
<h3>2.1 Collection of information</h3>
<p>You are free to browse the Site without revealing any personal information making it possible to identify you. However, once you have sent us your identifiable personal information, you are no longer anonymous to us. </p>
<p>
We collect two types of information from Users/Organizers of the Site: “Automatic Anonymous Information” (hereafter known as “AAI”) and “Identifiable Personal Information” (hereafter known as “IPI”). We process AAI and IPI differently, and the following articles describe both
<b>AAI</b>
and
<b>IPI</b>
and indicate how each type of information is collected and used by Vagabond Digital.
</p>
<p>The Site makes it possible to monitor certain information automatically, based on your behaviour. This information does not identify you personally. We use this information to improve the Content and functionality of the Site, and to better understand and satisfy our visitors. This information may include the browser you use, your IP address or other information. This information is referred to herein as the AAI.</p>
<p>IPI is individually identifiable information about you that allows us to identify or contact you. Some of the Site’s functions require asking you for certain IPI, such as your e-mail address, billing address, and/or other personal information. You may choose to provide IPI in order to access certain functions on the Site, to Publish your Content, to create an Account or to make comments. When possible, we tell you which fields of information are required and which are optional. You can always choose not to provide certain information, but in that case it may be that you cannot use certain of the Site’s functions mentioned above.</p>
<p>Vagabond Digital does not collect or keep information on Users/Organizers whom we know to be under 18 years of age.</p>
<h3>2.2 Use of your information</h3>
<p>We use your AAI which we collect mainly in order to improve the quality of the Site and to provide you with personalized service. We may also use your AAI internally, to manage the Site.</p>
<p>When you register on the Site we may ask you for certain IPI, such as your e-mail address, so as to provide you with different functions. Your consent to this promotional use and disclosure of this information is a condition for your participation.</p>
<h3>2.3 Shared information</h3>
<p>
Vagabond Digital may share your IPI: (
<b>i</b>
) with Vagabond Digital’s affiliates or subsidiaries or, as the case may be, with third parties who are bound by an obligation of confidentiality; or (
<b>ii</b>
) if Vagabond Digital has obtained your consent; or (
<b>iii</b>
) if Vagabond Digital is required to do so by law; or (
<b>iv</b>
) in the event of a transfer of ownership of Vagabond Digital, a merger or any similar act; or (
<b>v</b>
) as mentioned elsewhere in the present Privacy Policy.
</p>
<p>The following provisions describe some of the ways in which your IPI may be disclosed to third parties: we may make use of third parties to provide functions on our behalf in order to improve our communication and our efforts in the areas of promotion, marketing or other services. These third parties may include approved service providers, consultants and other companies working with us (referred to collectively as “Representatives”). They have access only to the IPI necessary to perform their functions and may not share the IPI with others or use it for any purpose other than providing or improving the Site.</p>
<p>Vagabond Digital reserves the right to share or transfer your IPI in order to comply with a legal order, disclose your activities or IPI as part of the application of the law when, at its sole discretion, Vagabond Digital believes it necessary or appropriate, as part of an investigation of fraud, violation of intellectual property rights or some other illegal activity or activity that may engage your or our liability.</p>
<h2>3. LINKS</h2>
<p>On the Site you will find various links directing you to Third Party Sites or to Third Party Content. Vagabond Digital shall not be liable for the links posted by Users or the privacy policies of such third parties. The Terms of Use Vagabond Digital Site, and in particular this Privacy Policy, do not govern to Third Party Sites or to Third Party Content which the User accesses from the Site.</p>
<h2>4. USE OF COOKIES</h2>
<p>With an eye for quality, Vagabond Digital reserves the right to install cookies on your computer; under no circumstances shall these cookies infringe your privacy; these cookies make it possible to record User/Organizer preferences as well as information about your session on the Site. Cookies allow you to better use the Site, in particular enabling you to avoid always consulting the same Contents on the Site.</p>
<p>The information that Vagabond Digital records with cookies is not linked to the personal information you otherwise supply Vagabond Digital.</p>
<p>The use of these cookies is optional; you can configure your browser not to accept, or to only sometimes accept, cookies.</p>
<p>However, for optimum use of the Site, we advise you to accept Vagabond Digital cookies. Certain functions may require the use of cookies in order to function correctly.</p>
<h2>5. COMMENTING OR POSTING ON THE SITE</h2>
<p>When you post information (a tag, a link, a comment…) on the Site, the information may be consulted or used by any User; we therefore invite you to take care when posting, as this can lead to you receiving unsolicited information from Users.</p>
<h2>6. SECURITY</h2>
<p>Vagabond Digital uses its best efforts to ensure the confidentiality of your personal data.</p>
<p>Vagabond Digital uses secure technology according to industry standards to protect the Content and the User/Organizer’s privacy. All Vagabond Digital personnel have a duty to respect the confidentiality of the Users/Organizer. A confidentiality obligation is included in each employment contract of Vagabond Digital employees with access to personal data.</p>
<p>
<b>HOWEVER, Vagabond Digital ASSUMES NO LIABILITY FOR UNAUTHORIZED ACCESS TO ANY CONTENT. THE INTERNET IS NOT A SECURE MEDIUM, AND RESPECT FOR PRIVACY CANNOT BE GUARANTEED WHEN INFORMATION IS TRANSMITTED. E-MAIL ADDRESSES ON THE INTERNET AND ON WEB SITES ARE EXPOSED TO INTERCEPTION, INFRINGEMENT AND UNAUTHORIZED ACCESS. INFORMATION SENT OR RECEIVED ON THE INTERNET IS NOT GENERALLY SECURE, AND Vagabond Digital CANNOT AND DOES NOT MAKE ANY DECLARATION, GUARANTEE OR PROMISE CONCERNING THIRD-PARTY INTERCEPTION OF THE USER’S/ORGANIZER’S PERSONAL, FINANCIAL OR OTHER INFORMATION. Vagabond Digital SHALL NOT BE HELD LIABLE FOR DAMAGES WHICH THE USER/ORGANIZER MAY SUFFER AFTER TRANSMITTING ANY INFORMATION FROM OR TO THE SITE OR IN ASSOCIATION WITH IT. ANY INFORMATION TRANSMITTED VIA THE SITE IS SENT AT THE USER’S/ORGANIZER’S OWN RISK.</b>
</p>
<p>
As set forth in the Terms of Use Vagabond Digital Site, your Login Details are confidential and you are not to disclose this Login Details to others;
<b>YOU MAY NOT HOLD Vagabond Digital LIABLE FOR THE DISCLOSURE OF YOUR LOGIN DETAILS OR ANY CONSEQUENCE OF THIS DISCLOSURE, IF YOU DISCLOSE YOUR LOGIN DETAILS TO ANY THIRD PARTY</b>
.
</p>
<h2>7. MODIFICATION OF THE PRIVACY POLICY</h2>
<p>Vagabond Digital reserves the right to modify or amend this Privacy Policy at any time. Any modification or amendment will be effective upon Vagabond Digital posting the same on the Site. Continued use by you of the Site after Vagabond Digital has posted an updated version of the Privacy Policy implies your consent to the Privacy Policy as modified or amended. Consequently, it is important that you regularly read this Privacy Policy to ensure that you are fully aware of any changes that may be made to them.</p>
<h2>8. APPLICABLE LAW</h2>
<p>The present Privacy Policy is part of the Terms of Use Vagabond Digital Site, and as such it will be governed by French law and will be interpreted according to French law, without taking into account principles relating to conflicts of laws. </p>
<p>Any dispute arising from, or in connection with, this Privacy Policy, shall be submitted to the exclusive jurisdiction of the French courts in Paris, France. </p>
<h2>9. CONTACT</h2>
<p>For any questions concerning this Privacy Policy, other policies for the Site or how to use the Site, please contact us at the following e-mail address: contact@tatstagr.am.</p>



  
  </div>