<!-- Left side user profile div -->
<div class="user-lside">
  <%=render :partial => guest_or_user_template(@user), :locals => {:user => @user}%>
  <!-- Rectangle -->  
  <div class="user-square">
    <%=image_tag(@ad[0], :alt => @ad[1])%>
  </div>
</div>

<!-- Right side user profile -->
<div class="user-rside">
  <%counter = 1%>
  <%@iphotos.each do |iphoto|%>
    <div class="userpic-container" style="overflow:hidden;">
      <div class="user_photo_thumb">
        <%=render :partial => 'iphotos/iphoto', :locals => {:iphoto => iphoto}%>
      </div>
    </div>
  <%end%>

  <%=will_paginate(@iphotos)%>
  
<!--   <div class="pagination">
    <div class="pagenum-div-last-user">
      <a href="#" class="pagenum"> <img src="images/next.png" /> </a>
    </div>
    <div class="pagenum-div">
      <a href="#" class="pagenum"> <img src="images/prev.png" /> </a>
    </div>
    <div class="pagenum-div">
      <a href="#" class="pagenum">...</a>
    </div>  
    <div class="pagenum-div">
      <a href="#" class="pagenum">5</a>
    </div>
    <div class="pagenum-div">
      <a href="#" class="pagenum">4</a>
    </div>
    <div class="pagenum-div"> 
      <a href="#" class="pagenum">3</a>
    </div>
    <div class="pagenum-div">
      <a href="#" class="pagenum">2</a>
    </div>
    <div class="pagenum-div">
      <a href="#" class="pagenum-active">1</a>
    </div>
  </div> -->
</div>