<div class="thumb">
  <div class="thumb-off">
    <a href="single.html" class="outerLink"><%=image_tag iphoto.url, :alt => "", :width => 286, :height => 239, :class=>'iImg'%></a>
  </div>
  <div class="thumb-hover">
  </div>
  
  <div class="call-text">
    <%=link_to (content_tag(:span, 'Click here to see full size')), iphoto_path(iphoto)%>
  </div>
</div>
<%=render :partial => 'iphotos/stats', :locals => {:iphoto => iphoto, :user => current_user}%>