<!-- Nav wrapper div -->

<div id="nav_wrapper">
  <!-- Main nav div -->
  <div id="nav">
    <!-- Left side of nav div -->
    <div id="l_nav">
      <p>
        <%=link_to "What's Hot",    '/tatstagrams/hot'%> | 
        <%=link_to "Most Popular",  '/tatstagrams/most_popular'%> | 
        <%=link_to "Newest",        '/tatstagrams/newest'%>
      </p>
    </div>
    
    <!-- Right side of nav div -->
    <div id="r_nav">
      <p>Tag <span class="bold-pink">#tatstagram</span> on your <span class="bold">Instagram</span> photos to appear on the site!</p>
    </div>
  <!-- Close nav div -->
  </div>
<!-- Close nav wrapper div -->  
</div>  