<!-- Social Menu Container -->
<div id="social-nav">
  <!-- Social Follows -->
  <div class="social-follow">
    <div class="social-title">
      <p>FOLLOW TATSTAGRAM</p>
    </div>
    <div class="social-follow-holder">
      <div class="follow-button1">
        <a href="#">
        </a>
      </div>
      
      <div class="vr">
        <%=image_tag 'vr.gif', :alt=>"vr", :width=>"2", :height=>"24"%>
      </div>
      
      <div class="follow-button2">
        <a href="#"> 
        </a>
      </div>
      
      <div class="vr">
        <%=image_tag 'vr.gif', :alt=>"vr", :width=>"2", :height=>"24"%>
      </div>
      
      <div class="follow-button3">
        <a href="#"> 
        </a>
      </div>
    
    </div>
  
  </div>
  
  <!-- Social Share --> 
  
  <div class="social-share">
  
    <div class="social-title">
    
      <p>SHARE TATSTAGRAM</p>
    
    </div>
    
    <div class="social-share-holder">
      
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="tatstagram" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.tatstagram.com&media=http%3A%2F%2Fwww.tatstagram.com%2F%23" class="pin-it-button" count-layout="none"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>


    <g:plusone size="medium" annotation="none"></g:plusone>

    <div class="fb-like" data-href="http://www.tatstagram.com/#" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false" data-font="arial"></div>
    
    
    </div>
  
  
  </div>

</div>    